<%= link_to "Add New Event", new_event_path %>

<p class = "lead"> Welcome to your homepage</p>

<table>
  <thead>
    <tr>
      <th>
        Date
      </th>
      <th>
        Description
      </th>
      <th>
        Requires ID?
      </th>
      <th>
        Capacity
      </th>
      <th>
        Directions
      </th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <th>
          <%= event.date %>
        </th>
        <th>
          <%= event.description %>
        </th>
        <th>
          <%= event.requires_id %>
        </th>
        <th>
          <%= event.capacity %>
        </th>
        <th>
          <%= event.directions %>
        </th>
      </tr>
    <% end %>
</table>
